<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="server=192.168.0.3;database=JXC;uid=sa;pwd=@w821218;Max Pool Size=20000;"/>
    <add key="DatabaseServerIP" value="192.168.0.3"/>
    <add key="DatabaseName" value="JXC"/>
    <add key="DatabaseUserName" value="sa"/>
    <add key="DatabasePassword" value="@w821218"/>
    <add key="CompanyName" value="苏州有限公司"/>
    <add key="CompanyNameEn" value="Company CO.,LTD"/>
    <add key="IsDisplayMainFormJPG" value="False"/>
    <add key="IsStartAutoUpdate" value="false"/>
    <add key="Ver" value="1.0.0"/>
    <add key="ServerPath" value="\\pi-fi-wanghm\s1$\"/>
    <add key="IsDisplayInitialGoods" value="true"/>
      
  </appSettings>
</configuration>